element{
    --bodyfont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    background-color: lavender;
    color:purple;
    text-align: center;
    font-family: var(--bodyfont);
    padding: 20px;
    border-radius: 25px;
}

#timer {
    color:red;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: var(--bodyfont);
}

#correct {
    background-color: lavender;
    color:purple;
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 25px;
}

button {
    background-color: lavender;
    color:purple;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: var(--bodyfont);
    padding: 10px;
    border-radius: 25px;
}

form {
    font-size: 30px;
    color: purple;
}

#saveScoreBtn {
    font-size: 20px;
}

ul {
    background-color: lavender;
    color:purple;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 25px;
    display: inline-block;
}

li {
    font-size: 20px;
    font-weight: normal;
    list-style-type: none;
}

body {
    text-align: center;
}