/* 
html {
    background-color: rgba(247, 247, 3, 0.445);
} */

h1 {
    background-color: lavender;
    color:purple;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    border-radius: 25px;
}

#timer {
    color:red;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

#correct {
    background-color: lavender;
    color:purple;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 25px;
}

button {
    background-color: lavender;
    color:purple;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 25px;
}

body {
    text-align: center;
}